[project]
	description = An ansible built syncthing cluster
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Richard Bowden (richardbowden)
[access "refs/for/refs/*"]
	read = group user/Richard Bowden (richardbowden)
	push = group user/Richard Bowden (richardbowden)
	label-Code-Review = -2..+2 group user/Richard Bowden (richardbowden)
	label-Verified = -1..+1 group user/Richard Bowden (richardbowden)
	rebase = group user/Richard Bowden (richardbowden)
	removeReviewer = group user/Richard Bowden (richardbowden)
	submit = group user/Richard Bowden (richardbowden)
[access "refs/heads/*"]
	read = group user/Richard Bowden (richardbowden)
	create = group user/Richard Bowden (richardbowden)
	push = +force group user/Richard Bowden (richardbowden)
	pushMerge = group user/Richard Bowden (richardbowden)
[access "refs/tags/*"]
	push = group user/Richard Bowden (richardbowden)
	push = +force group user/Richard Bowden (richardbowden)
